<a href="https://colab.research.google.com/github/ninosanctis/pythonEstudo/blob/main/Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Calcular a soma dos numeros do 10 ao 14

In [ ]:
sum([10, 11, 12, 13, 14])

60

Calcula a média entre 10,15,20

In [ ]:
(10+15+20)/3

15.0

faça uma média com notas escolares utilizando a entrada de dados

In [ ]:
nota1 = int(input("Digite nota 1: "))  # int força a transforamr em inteiro
nota2 = eval(input("Digite nota 2: ")) # transforma em numeros inteiros
peso1 = 5
peso2 = 5

media = (nota1*peso1 + nota2*peso2)/(peso1 + peso2)
print(f"A média final é: {media}") #f formata tudo em string e declara a variavel dentro das {}

Digite nota 1: 10
Digite nota 2: 10
A média final é: 10.0

Qual menor preço da lista?

Preços: R$100.20, R$30.90, R$55.50, R$25.80, R$200

In [ ]:
precos = [
  100.20,
  30.90,
  55.50,
  25.80,
  200
]

print(min(precos))

25.8

Avalie se o número digitado pelo usuario é par ou impar. Se for par a saida deve mostrar True, se impar deverá mostrar False

In [ ]:
numero_digitado = int(input("Digite um numero: "))

Digite um numero: 10

In [ ]:
numero = numero_digitado % 2
if numero == 0:
  print(True)
else:
  print(False)

False

Verifique se o menor item dessa lista é menor que 20 reais
preços: R 100.20,R 30.90, R 55.50,R 25.80, R$200

In [ ]:
precos = [100.20, 30.90, 55.50, 25.80, 200, 18.25]
if min(precos) < 15:
  print(True)
else:
  print(False)

False

Faça um conversor de temperatura em graus Fahrenheit fornecida pelo usuario em graus Celsius
(5/9)*(fahrenheit - 32)

In [36]:
fahrenheit = int(input("Digite a temperatura em fahrenheit: "))
celsius = (5/9)*(fahrenheit - 32)
print(f"A temperatura em celsius é: {celsius}")

Digite a temperatura em fahrenheit: 32
A temperatura em celsius é: 0.0